<div class="contenedor">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <i class="pi pi-plus" (click)="showSideBar()"></i>
        </div>
    </p-toolbar>

    <div class="card" *ngFor="let p of post">
        <div>
            <p-card header={{p.make}} subheader={{p.model}} [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src={{p.img_url}}>
                </ng-template>
                <p>Año {{p.year}}, una potencia de {{p.horsepower}}HP y con un precio inicial de ${{p.price}}</p>
                <ng-template pTemplate="footer">
                    <p-button label="Editar" icon="pi pi-pencil" styleClass="p-button-warning" (click)="showDialog()">
                    </p-button>
                    <p-button label="Borrar" icon="pi pi-times" styleClass="p-button-danger" (click)="onDelete(p)"
                        [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
            </p-card>
        </div>
        <div class="form" *ngIf="display">
            <br>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText #make>
                <label for="float-input">Marca</label>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText #model>
                <label for="float-input">Modelo</label>
            </span>
            <br>
            <br>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText #year>
                <label for="float-input">Año</label>
            </span>
           
            <br>
            <p class="edit-valid" *ngIf="editValid">Todos los campos son obligatorios</p>
            <br>
            <button label="Guardar" type="button" pButton (click)="onEdit(make, model, year, p.id)"></button>
        </div>
    </div>
    <div>
        <p-sidebar [(visible)]="displaySB" position="right">
            <div  >
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText #make>
                    <label for="float-input">Marca</label>
                </span>
                <br>
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText #model>
                    <label for="float-input">Modelo</label>
                </span>
                <br>
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText #year>
                    <label for="float-input">Año</label>
                </span>
                <br>
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText #hp>
                    <label for="float-input">Potencia</label>
                </span>
                <br>
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText #price>
                    <label for="float-input">Precio</label>
                </span>
                <br>
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText #url>
                    <label for="float-input">URL imagen</label>
                </span>
                <br>
                <p class="edit-valid" *ngIf="createValid" >Todos los campos son obligatorios</p>
                <br>
                <button label="Guardar" type="button" pButton (click)="onCreate(make, model, year, hp, price, url)"></button>
            </div>
        </p-sidebar>
    </div>
</div>