.contenedor{
    background: #FFC300;
}
.card{
    padding: 10px;
    margin-top: 10;
}
.form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
    border-radius: 7px;
    background: #fff;
    margin-top: 10px;
    padding: 20px;
    width: 360px;
}
.edit-valid{
    color: red;
}